.look-books{
  display: flex;
  flex-flow: column;
  margin: auto;
  width: 90%;
  height: 980px;
  justify-content: space-between;


}

.look-books__row{
  display: flex;
  justify-content: space-between;
}


.footer{
  margin-top: 50px;
}
